@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    
    
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(13, 137, 194);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
}


nav{
    background: rgb(13, 137, 194);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background-color: rgb(13, 137, 194);
    transition: .5s;
}
  
.check-btn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
  
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
}
  
@media (max-width: 858px){
    .check-btn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      background-color: rgb(13, 137, 194);
    }
    #check:checked ~ ul{
      left: 0;
    }
}
  

main > ul >li {
    padding-left: 15px;
    padding-right: 15em;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(9, 83, 126);
    color:white;
}



img {
    display: block;
    
    width: 20%;
    float:right;
}

#top_button {
    position: fixed;
    color:white;
    bottom: 10px;
 
    background-color: black;
    padding: 5px;
    border-radius: 4px;
    scroll-behavior: smooth;
    left: 75%

}

#top_button:hover {
    color:orange;
}
 
/*
img{
    max-height: 100%;
    max-width: 100%;
    width: 600px;
    height: 300px;
}
*/
.nav_links>li>a{
    transition: all 0.3s ease 0s;
}

.nav_links >li >a:hover {
    color:orange;

}

section > ul> li {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 3px;
    background-color: rgb(9, 83, 126);
    color:white;
}

.GREENText { 
    color:green ; 
    background-color: black;
} 

.YELLOWText {
    color: yellow;
    background-color: black;
}

.REDText {
    color:red;
    background-color:black;
    
}

h1 {
    text-align: center;
    background-color: orange;
    border-radius: 15px;
    letter-spacing: 1px;
}

.nav_links>li>a{
    transition: all 0.3s ease 0s;
}

.nav_links >li >a:hover {
    color:orange;

}
